
body {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    background-color: #fcfcfc;
}

header {
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.08);
}

footer {
    padding-top:50px;
    padding-bottom: 75px;
}

.card {
    background-color: white;
    padding:15px;
    border-radius: 3px;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
}

.summary-card {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.font14 { font-size: 14px; }
.font16 { font-size: 16px; }
.font24 { font-size: 24px; }
.font32 { font-size: 32px; }
.text-center { text-align: center; }

.bold {
    font-weight: 700;
}

.front-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 35px;
  grid-auto-rows: 1fr;
}

.front-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  grid-auto-rows: 1fr;
}



@media (max-width:768px){

  .front-three {
    grid-template-columns: 100%;
    row-gap: 35px;
  }

  .front-two {
    grid-template-columns: 100%;
    row-gap: 35px;
  }

    .hide-small {
        display: none;
    }

    .card {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header > div {
        display: flex;
        justify-content: space-between;
    }

    header .profile > div.profile-menu {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: hsl(220, 48%, 47%);
        color: #3e65b1;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.18);
    }

    smallmenu {
        position: fixed;
        box-sizing: border-box;
        top:-500px;
        width: 100%;
        z-index: 10;
        background-color: #3e65b1;
        color: white;
        padding:10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
        transition: all 700ms ease-in-out;
    }

    smallmenu.open {
      top: 0;
    }

    smallmenu .menu-sm {
        display: flex;
        justify-content: space-between;
    }

    smallmenu .menu-sm-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    smallmenu .menu-sm-links a {
        color: white;
        text-decoration: none;
        padding: 7px;

    }
}

@media (min-width:768px){

    .hide-large {
        display: none;
    }

    smallmenu {
        display: none;
    }

    header > div {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-content: center;
    }

    header .page-links {
        display: flex;
        justify-content: center;
    }

    header .page-links > a {
        display: inline-block;
        padding: 7px 15px;
        text-decoration: none;
        color: #333333;
        opacity: 0.3;
        font-weight: 600;
        font-size: 16px;
    }

    header .page-links > a.active {
        opacity: 1;
        border-bottom-style: solid;
    }

    header .logo-search {
        display: flex;
        align-items: center;
    }

    header .logo-search > div {
        padding:10px;
    }

    header .logo-search .fa-search {
        opacity: 0.3;
    }

    header .logo-search input {
        border: none;
        background-color: transparent;
        height: 35px;
        padding: 1px 5px;
    }

    header .logo-search > div:first-child > div {
        width: 30px;
        height: 30px;
        background-color: #6494aa;
        border-radius: 50%;
    }

    header .logo-search > div:last-child > div {
        display: flex;
        border-style: solid;
        border-radius: 3px;
        border-width: 0.5px;
        border-color: #e6e6e6;
        align-items: center;
        padding: 0 7px;
    }

    header .profile {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    header .profile > div.profile-menu {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: #3e65b1;
        color: #3e65b1;
    }
}


.active-section {
  padding-top: 100px;
  background-color: #fcfcfc;
  padding-bottom: 100px;
}

.archived-section {
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: #f5f5f5;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
}

tbody tr:nth-child(even){background-color: #f1f1f1}

th, td {
  text-align: left;
  padding: 8px;
}

.ticket-categories {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.ticket-categories > div {
  margin-right: 15px;
}

.ticket-categories i {
  margin-right: 5px;
}

.headers {
  font-size: 36px;
  font-weight: 600;
}

#mapid { height: 180px; }

/* ffce70
ffbf47
fcae19
cf8801
a3cb00

6283c5
3e65b1
204ea8
0f388a
092b6d */
/* #1e3d69
#7d4282
#cc5299
#c83e6a
#de7015
#f4a300
 */