
.flex { display: flex; }
.flex-column { flex-direction: column; }
.justify-center { justify-content: center; }
.justify-space-between { justify-content: space-between; }
.justify-end { justify-content: flex-end; }
.align-center { align-items: center; }

.pt1 { padding-top: 10px; }
.pb1 { padding-bottom: 10px; }
.pl1 { padding-left: 10px; }
.pr1 { padding-right: 10px; }

.pt2 { padding-top: 20px; }
.pb2 { padding-bottom: 20px; }
.pl2 { padding-left: 20px; }
.pr2 { padding-right: 20px; }

.mt1 { margin-top: 10px; }
.mb1 { margin-bottom: 10px; }
.ml1 { margin-left: 10px; }
.mr1 { margin-right: 10px; }

.mt2 { margin-top: 20px; }
.mb2 { margin-bottom: 20px; }
.ml2 { margin-left: 20px; }
.mr2 { margin-right: 20px; }

.mt5 { margin-top: 50px; }
.mb5 { margin-bottom: 50px; }
.ml5 { margin-left: 50px; }
.mr5 { margin-right: 50px; }

.w1 { width: 10px; }
.w2 { width: 20px;}
.w5 { width: 50px; }

img.rounded-sm {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.font-md { font-weight: 500; }
.semi-bold { font-weight: 600; }
.bold { font-weight: 700; }

.cursor-pointer { cursor: pointer; }

.text-decoration-none { text-decoration: none;}
.link-color { color: #2b2e5b; }

.relative {position: relative; }

.profile-details-wrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.profile-details-wrapper > div:first-child {
  height: 100px;
  background-color: rgb(250, 250, 250);
  border-bottom: 1px solid #ccc;
}

.profile-details-wrapper > div:last-child {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}