
.flex { display: flex; }
.flex-column { flex-direction: column; }
.justify-center { justify-content: center; }
.justify-space-between { justify-content: space-between; }
.align-center { align-items: center; }

.pt1 { padding-top: 10px; }
.pb1 { padding-bottom: 10px; }
.pl1 { padding-left: 10px; }
.pr1 { padding-right: 10px; }

.pt2 { padding-top: 20px; }
.pb2 { padding-bottom: 20px; }
.pl2 { padding-left: 20px; }
.pr2 { padding-right: 20px; }

.mt1 { margin-top: 10px; }
.mb1 { margin-bottom: 10px; }
.ml1 { margin-left: 10px; }
.mr1 { margin-right: 10px; }

.mt2 { margin-top: 20px; }
.mb2 { margin-bottom: 20px; }
.ml2 { margin-left: 20px; }
.mr2 { margin-right: 20px; }

.mt5 { margin-top: 50px; }
.mb5 { margin-bottom: 50px; }
.ml5 { margin-left: 50px; }
.mr5 { margin-right: 50px; }

.w1 { width: 10px; }
.w2 { width: 20px;}
.w5 { width: 50px; }

img.rounded-sm {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.semi-bold { font-weight: 600; }
.bold { font-weight: 700; }